@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .layout {
    @apply container mx-auto p-4
  }
}

@layer components {
  .btn-text {
    @apply px-4 py-2 rounded-lg font-bold hover:bg-amber-400;
  }

  .btn-contained {
    @apply px-4 py-2 rounded-lg font-bold bg-amber-400 hover:bg-amber-500;
  }

  .btn-outlined {
    @apply px-3.5 py-1.5 rounded-lg font-bold border-2 border-amber-400 bg-amber-100 hover:bg-amber-400;
  }

  .card {
    @apply bg-orange-300/25 shadow-md max-w-lg rounded-lg p-6 hover:shadow-xl hover:scale-105 transition-transform hover:cursor-pointer;
  }

  .card-body {
    @apply py-3;
  }

  .input {
    @apply w-full p-1 mr-0 rounded-md border-2 border-orange-200 bg-orange-50 focus:outline-none focus:border-orange-300;
  }

  .input-error {
    @apply text-red-600 text-sm;
  }

  .file-input {
    @apply file:mr-5 file:py-2 file:px-3 file:shadow-none file:bg-amber-400 file:text-base file:rounded-md file:border-0
    hover:file:cursor-pointer hover:file:bg-amber-500
  }

  .label {
    @apply pl-1 block font-bold;
  }

  .search-input {
    @apply w-72 h-10 p-2 font-body rounded-full border-2 bg-amber-50 border-amber-400 hover:border-amber-500 focus:outline-none focus:border-amber-500 transition-colors duration-300 ease-in-out
  }
}

@layer base {
  html {
    @apply bg-orange-50;
  }

  body {
    @apply font-body;
  }

  h1 {
    @apply text-5xl font-heading font-bold;
  }

  h2 {
    @apply text-4xl font-heading font-bold;
  }

  h3 {
    @apply text-3xl font-heading font-bold;
  }

  h4 {
    @apply text-2xl font-heading font-bold;
  }

  p {
    @apply text-base font-body font-normal;
  }
}
